@font-face {
    font-family: molde-semi;
    src: url(../Fonts-Molde/molde-semi.ttf);
}
@font-face {
    font-family: molde-light;
    src: url(../Fonts-Molde/molde-light.ttf);
}
@font-face {
    font-family: molde-regular;
    src: url(../Fonts-Molde/molde-regular.ttf);
}

@media (max-width: 768px){
   
}

.berita {
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.berita h1{
    font-family: molde-semi;
}

.berita-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.berita-card > div > img {
    max-width: 300px;
}

.berita-card > div {
    max-width: 300px;
    margin: 30px;
    padding-bottom: 20px;
    border: 1px solid #0076CE;
    border-radius: 10px;
}

.berita-card > div *:not(img) {
    margin: 15px 30px;
}

.berita-card > div img {
    max-width: 100%;
    border-radius: 10px;
} 
.headline{
    font-family: molde-semi;
}

.date {
    color: #0076CE;
    font-family: molde-light;
    font-size: 0.8rem;
}

.description {
    font-weight: 400;
    font-family: molde-regular;
    font-size: 1rem;
}

.berita-card > div a {
    font-size: 13px;
    color: #0076CE;
    text-decoration: none;
    font-family: molde-semi;
}

.berita-card > div a:hover {
    color: #0076CE;
    text-decoration: underline;
}
