@font-face {
    font-family: molde-semi;
    src: url(../Fonts-Molde/molde-semi.ttf);
}
@font-face {
    font-family: molde-light;
    src: url(../Fonts-Molde/molde-light.ttf);
}
@font-face {
    font-family: molde-regular;
    src: url(../Fonts-Molde/molde-regular.ttf);
}

button{
    cursor: pointer;
}

@media (max-width: 768px){
    .pc-navbar {
        display: none;
    }

    .mobile-nav{
        display: block;
    }
    #ham-menu{
        display: block;
    }
    .logpict-mob{
        display: block;
    }

    .jumbatron{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding:10px;
    }
    .jumbatron div{
        margin: 0px 0;
    }
    .jumbatron-text{
        max-width: 100%;
    }
    .jumbatron-text h1{
        font-size: 1.5rem;
    }
    .jumbatron-text h4{
        font-size: 0.7rem;
    }
    .jumbotron-text button {
        padding: 10px 20px;
    }

    .kami-hadir div{
        font-size: 0.6rem;
    }
    .kami-hadir h1{
        font-size: 1.5rem;
    }
    .cyber-bullying, .penipuan-online, .berita {
        flex-direction: column;
        text-align: center;
    }
    .cyber-bullying img, .penipuan-online img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer-social-media{
        width: 100%;
    }
    .footer-social-media > div {
        align-items: center;
        margin: 0;
    }

    .footer-social-media > div > div {
        margin: 0px 10px;
        display: flex;
        align-items: center;
    }

    .footer-social-media div img {
        width: 1.2rem;
        margin-right: 10px;
    }
   
}

.jumbatron {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 60px;
}

.jumbatron div {
    padding: 20px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbatron-image img {
    max-width: 100%;
    border: solid #0076CE 0.5px;
    border-radius: 10px;
}

.jumbatron-text {
    max-width: 100%;
}

.jumbatron-text h1{
    font-family: molde-semi;
}
.jumbatron-text h4{
    font-family: molde-light;
}

.jumbatron-text * {
    margin: 10px;
}

.jumbatron-text button {
    padding: 15px 25px;
    font-family: molde-semi;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #0076CE;
}

.jumbatron-text button:hover {
    background-color: #0076CE;
    color: white;
    box-shadow: #fff;
}

.kami-hadir {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0076CE;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-family: molde-semi;
}

.kami-hadir * {
    padding: 20px;
}

.kami-hadir > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kami-hadir div img {
    max-width: 50px;
    height: 45px;
    padding: 0px 0px;
}

.cyber-bullying {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0076CE;
    margin: 50px 0;
    padding: 30px;
}

.cyber-bullying div {
    max-width: 600px;
    padding: 0 40px;
    color: #f0f0f0;
}

.cyber-bullying div * {
    margin: 20px;
}

.cyber-bullying div h1 {
    text-align: center;
    text-decoration: underline;
    font-family: molde-semi;
}

.cyber-bullying div p {
    text-align: justify;
    font-family: molde-light;
}

.penipuan-online {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0076CE;
    margin: 50px 0;
    padding: 30px;
}

.penipuan-online div {
    max-width: 600px;
    padding: 0 40px;
    color: #f0f0f0;
}

.penipuan-online div * {
    margin: 20px;
}

.penipuan-online div h1 {
    text-align: center;
    text-decoration: underline;
    font-family: molde-semi;
}

.penipuan-online div p {
    text-align: justify;
    font-family: molde-light;
}

.berita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    margin: 50px 0;
    padding: 20px;
    font-family: molde-semi;
}

.berita div {
    max-width: 600px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.berita div * {
    margin: 20px;
}

.berita div h1 {
    text-align: right;
}

.berita img{
    max-width: 50%;
}

.berita button {
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #0076CE;
    font-family: molde-semi;
}

.berita button:hover {
    background-color: #0076CE;
    color: #fff;
}

.jumbatron-text{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.cyber-bullying{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.penipuan-online{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;

}

.kami-hadir{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.berita{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}


.show{
    opacity: 1;
    filter: blur(0);
}