@font-face {
    font-family: molde-semi;
    src: url(../Fonts-Molde/molde-semi.ttf);
}
@font-face {
    font-family: molde-light;
    src: url(../Fonts-Molde/molde-light.ttf);
}
@font-face {
    font-family: molde-regular;
    src: url(../Fonts-Molde/molde-regular.ttf);
}

@media (max-width: 768px){
   
}

.form {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 60px); /* Adjusting for the height of the navbar */
}

.form-container {
    text-align: left;
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-family: molde-semi;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: molde-regular;
}

.form-group span {
    font-family: molde-regular;
    color: red;
}

.form-group input,
.form-group textarea {
    font-family: molde-regular;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #e0e0e0;
}

.form-group textarea {
    resize: none;
    height: 80px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.confirmation-group {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: molde-regular;
    font-size: 14px;
}

.confirmation-group label {
    max-width: 250px;
}

.confirmation-group * {
    margin: 0 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-family: molde-light;
}

.navigation span {
    font-size: 14px;
}

.nav-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.log{
    color:rgb(255, 5, 5);
    margin-top: 10px;
    margin-bottom: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    font-family: molde-regular;
    font-size: small;
}