@font-face {
    font-family: molde-semi;
    src: url(../Fonts-Molde/molde-semi.ttf);
}
@font-face {
    font-family: molde-light;
    src: url(../Fonts-Molde/molde-light.ttf);
}
@font-face {
    font-family: molde-regular;
    src: url(../Fonts-Molde/molde-regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #f0f0f0;
}

nav {
    background-color: #fff;
    box-shadow: 10px 10px 5px rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: molde-semi;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #0076CE;
}

nav a:not([id = "logo"]):hover {
    text-decoration: underline;
}

.logpict{
    font-family: molde-semi;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logpict a{
    left:-25px;
    position: relative;
    font-size: 13px;
}
.logpict img{
    width: 40px;
    margin-right: 5px;
}

.mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #0076CE;
    display: none;
}

#ham-menu{
    display: none;
    cursor: pointer;
    margin: 0 10px;
}

#ham-menu div{
    width: 35px;
    height: 2px;
    margin: 6px 0;
    transition: 0.45s;
    background-color: #0076CE;
}

.open .b1{
    -webkit-transform: rotate(-45deg) translate(-6px, 5px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.open .b2{
    opacity: 0;
}

.open .b3{
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.open .for-mob{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(243, 242, 242, 0.847);
    border-top: solid #0076CE;
}

.for-mob{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    height: auto;
    width: 100%;
    padding: 10px 0;
}

.for-mob li{
    margin: 5px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 0.5px #0076CE;
}

.for-mob a{
    background-color: transparent;
}

.pc-navbar{
    margin: 0;
    padding: 0;
}

.pc-navbar li{
    display: inline;
    margin-right: 20px;
}

nav li:first-child {
    margin-right: auto;
}

@media (max-width: 768px){
    .pc-navbar {
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    #ham-menu{
        display: block;
    }
    .logpict-mob{
        display: block;
    }
}

.form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px); /* Adjusting for the height of the navbar */
}

.form-container {
    text-align: center;
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-family: molde-semi;
}

.select-box {
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #0076CE;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url('data:image/svg+xml;charset=US-ASCII,%3csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="%23333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3e%3cpath d="M4 6l4 4 4-4"%3e%3c/path%3e%3c/svg%3e') no-repeat right 15px center;
    background-size: 12px;
    font-family: molde-regular;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    font-family: molde-light;
}

.navigation span {
    margin-right: 20px; /* Adjust this value to change the spacing */
    font-size: 14px;
}

.next-button {
    position: absolute;
    right: 0;
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.log{
    color:rgb(255, 5, 5);
    margin-top: 10px;
    margin-bottom: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    font-family: molde-regular;
    font-size: small;
}